html {
    background-color: #FFFCE6;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: #D1B900;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

header #logo {
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

header h1 {
    margin-left: 20px;
}

header ul {
    margin-left: 25px;
    width: max-width;
    display: flex;
    justify-content: space-evenly;
}

#content1 {
    background-color: #FFF18A;
    display: flex;
    justify-content: space-evenly;
}

#content1 img {
    width: 50%;
}

#content2 {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#content2 img {
    width: 30%;
    margin-bottom: 25px;
}

#content2 p {
    color: #1A1700;
    text-align: center;
    margin-bottom: 10px;
}
    
