html {
    background-color: #F0F7FF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002248;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}